# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Flask stuff:
instance/
.webassets-cache

# virtualenv
.venv/
venv/
ENV/
env/

# Linux Backup files
*~

# Cpp
*.o
*.obj
*.a
*.so
*.so.*
*.out
*.exe
